/* Cores dos Banners de Cursos */
.logica { 
    background: linear-gradient(to right, #2c3e50, #4ca1af); 
}

.python { 
    background: linear-gradient(to right, #306998, #ffd43b); 
    color: white; 
}

.java { 
    background: linear-gradient(to right, #5382a1, #f89820); 
}

/* Reutilizando a cor do PHP que já tínhamos */
.php { 
    background: linear-gradient(to right, #474a8a, #8892be); 
}